.superHeader {
  font-size: 20px;
  margin-bottom: 25px;
  margin-left: 20px;
  line-height: 20px;
  font-weight: 700;
}

.contSuperHeader {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.headerCont {
  display: flex;
  justify-content: space-between;

  position: absolute;
  z-index: 10;
}

.table {
  margin-top: -15px !important;
}

.footer {
  display: flex;
  justify-content: center;
  font-weight: 500;
}
